.cardWrapper {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardWrapper:hover {
  z-index: 1;
  transform: scale(1.02);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

.productImg {
  height: 300px;
}

.productDescription {
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.productDescription h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 400;
}

.descriptionBotLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bar {
  display: flex;
}
.like {
  display: flex;
  align-items: center;
  width: 24px;
}

.cart {
  width: 22px;
  margin-left: 10px;
  cursor: pointer;
}

.like svg {
  fill: rgba(0, 0, 0, 0);
  stroke: black;
  stroke-width: 3px;
  cursor: pointer;
}

.likeActive svg {
  fill: rgb(255, 83, 83);
  stroke: rgb(255, 83, 83);
  stroke-width: 3px;
  cursor: pointer;
}

.like svg:hover {
  stroke: rgb(255, 83, 83);
}
