.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  z-index: 10;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

nav {
  position: relative;
  height: 80px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.list {
  position: relative;
  width: 40%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.list > li:nth-child(5) a {
  font-weight: 500;
  color: brown;
}

.list li {
  position: relative;
  display: flex;
  align-items: center;
}

nav ul li a {
  position: relative;
  z-index: 10;
}

nav a {
  font-weight: 300;
}

nav a:hover {
  font-weight: 500;
}

.dropList {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 200px;
  top: 60px;
  left: -15px;
  background: rgba(255, 255, 255, 0.8);
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
  box-shadow: 3px 3px 3px rgb(187, 187, 187, 0.4);
}

.dropList.open {
  display: flex;
}

.rightBar {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.rightBar::before {
  position: relative;
  content: "";
  width: 1px;
  height: 30px;
  background-color: rgb(0, 0, 0, 0.1);
  top: 24px;
}

.cart {
  margin-left: 20px;
  display: flex;
  align-items: stretch;
}

.cartLogo {
  width: 32px;
  display: flex;
  align-items: center;
  position: relative;
}

.countInCart {
  background-color: #d18b22;
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  top: 48px;
  left: 18px;
  font-size: 14px;
  border-radius: 50%;
}

.titleCart {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.comeIn {
  display: flex;
  align-items: center;
  margin-left: 35px;
}
